* text=auto
.gitattributes text eol=lf
*.uv text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.csv text eol=lf
*.txt text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ps1 text eol=crlf
.githooks/* text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
